<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.spikeglobal.cordova.plugin.show.image"
    version="1.0.3">
    <name>Photo Viewer</name>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <js-module src="www/photoviewer.js" name="PhotoViewer">
        <clobbers target="PhotoViewer" />
    </js-module>

    <!-- ios -->
     <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PhotoViewer">
                <param name="ios-package" value="PhotoViewer" />
            </feature>
        </config-file>
        <source-file src="src/ios/PhotoViewer.m" />
    </platform>

	<!-- Android -->
 	<platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="PhotoViewer">
                <param name="android-package" value="com.spikeglobal.cordova.plugin.show.image.PhotoViewer" />
            </feature>
        </config-file>
        
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.spikeglobal.cordova.plugin.show.image.PhotoActivity" android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        </config-file>

		<config-file parent="/manifest" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
		</config-file>

		<source-file src="src/android/PhotoViewer.java" target-dir="src/com/spikeglobal/cordova/plugin/show/image/photoviewer" />
		<source-file src="src/android/PhotoActivity.java" target-dir="src/com/spikeglobal/cordova/plugin/show/image/photoviewer" />
		<source-file src="src/android/layout/activity_photo.xml" target-dir="res/layout" />
		<framework src="src/android/photoviewer.gradle" custom="true" type="gradleReference" />

    </platform>
    
</plugin>
